<h2>Movies celebrities</h2>

<form method="post" action="/celebrities/create">
<label for="name">name</label>
<input type="text" id="name" name="name">

<label for="occupation">occupation</label>
<input type="text" id="occupation" name="occupation">

<label for="catchPhrase">catchPhrase</label>
<input type="text" id="catchPhrase" name="catchPhrase">


<button>submit</button>

</form>



