<form method="post" action="/movies/create">

<select name="movies" id="movies" multiple>
  <option value="title">Title</option>
  <option value="genre">Genre</option>
  <option value="plot">Plot</option>
  <option value="cast">Cast</option>
</select>
</form>